*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
BenchmarkDotNet.Artifacts/
project.lock.json
project.fragment.lock.json
artifacts/
ScaffoldingReadMe.txt
StyleCopReport.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlh
*.tli
*.tmp
*.tmp_proj
*.log
*.vspscc
*_i.obj
*_p.obj
*.cache
*.dll
*.exe
*.bak
*.backup
*.bkp
*.zip
*.rar
*.7z
*.tar.gz
*.nupkg
*.snk
*.suo
*.user
*.userosscache
*.sln.docstates
**/secrets.json
*.nupkg
**/packages/
*.Publish.xml
*.azurePubxml
.vscode/
.vscode/*
*.vs/
*.vs/*
.idea/
.idea/*
*.sln.iml
.idea/.dotCover
*.hubs.cs
*.sln.ide/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/
*.sln.iml
.DS_Store
.vscode/
wwwroot/build/
wwwroot/css/*
wwwroot/js/*
wwwroot/lib/*
ClientApp/bin/
ClientApp/obj/
Pages/Shared/_Host.cshtml
.git/
